<div class="row justify-content-md-center">
  <div class="col-md-12">
    <h3><span>Name:</span>{{quiz.name}}</h3>
    <form [formGroup]="game" (ngSubmit)='onSubmit()'>
      <div formArrayName="results">
        <div *ngFor="let result of game.controls.results.controls; let i = index"
             [formGroupName]="i">
          <div class="card">
            <div class="card-header">
              <h3> Question: {{result.value.question.question}}</h3>
            </div>
            <div class="card-body">

              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="answer"
                         [value]='result.value.question.answerOne'>{{result.value.question.answerOne}}
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="answer"
                         [value]='result.value.question.answerTwo'>{{result.value.question.answerTwo}}
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="answer"
                         [value]='result.value.question.answerThree'>{{result.value.question.answerThree}}
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="answer"
                         [value]='result.value.question.answerFour'>{{result.value.question.answerFour}}
                </label>
              </div>

            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <button type='submit' class="btn btn-primary  btn-block">Submit your answers</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<!--<pre>{{game.value | json}}</pre>-->


















